html, body, #root {
    margin: 0;
    padding: 0;
    background-color: #000;
    min-height: 100vh; /* Full screen height initially */
    width: 100%;
    font-family: 'Manrope', sans-serif;
}

.mainbox {
    display: flex;
    flex-direction: column;
    background-color: #000;
    min-height: 100vh; /* Fill at least screen height */
    width: 100%;
}
